<html>
<head>
	<title>Scoutr</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="padding-top: 50px; padding-bottom: 90px;">
				<form method="POST" class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title" style="padding-bottom: 51px;">
						Welcome back to Scoutr
						<br />
						<br />
						Please enter the security camera password
					</span>
					
					
					<div class="wrap-input100">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
				

					<div class="button-container" style="margin-top:33px;">
						<button class="form-button">
							Login
						</button>
					</div>

				</form>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<br />
							<span class="login100-form-title" style="color:rgb(185, 32, 21); padding-bottom: 51px;">{{ message }}</span>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>
</body>
</html>